All the programs in solar_monitor share the same config file in
the home dir of the user running them. ~/.solar or optionally
in /usr/local/etc/solar.config
You can modify these in solar_config..h

The Makefile is setup to do either host, remote build or local build.

host is the host side if you are using a remote device (RPi?)
remote of course is code compiled on the remote device.

make host or
make remote or

If you wish, you can also run the local data collection and database
on the local host.
make local

====
On remote machine (RPi or ?) or local machine if doing local:
In your ~/.solar or .../config.solar file

ssh_user = solar
ssh_host = TheHostmodstatServerRunsOn
modport = /dev/YOURMODBUSSERIALPORT
...
====

On host.

ssh receive is set up to force run recv_snapshot
In sshd.config

Match User solar
       X11Forwarding no
       AllowTcpForwarding no
       PermitTTY no
       ForceCommand /usr/local/bin/recv_snapshot


database set up is straightforward. The table used is always 'solar'
csvfile is an optional local csv file copy. This can be useful as
a backup during power failures.

In your ~/.solar or .../config.solar file

# These entries are for the postgresql database
dbhost = YOURDATABASEHOST
dbdatabase  = YOURDB
dbuser = YOURREMOTEUSER
dbtable = solar 
dbpassword = YOURPASSWORD
csvfile= /Yourhomedir/solar/snapshot.csv

I am not a DBA but the schema given in README.postgres
from the pg_dump *should* be enough to get you going.

You are on your own for Grafana setup ;)


